.main-container {
  display: flex;
  height: -webkit-fill-available;
  width: 100%;
  padding-top: 63px;
}

.side-navbar {
  display: flex;
  flex-direction: column;

  height: -webkit-fill-available;
  background-color: #fefefe;
  width: 310px;

  flex: 0 0 auto;
}

.greeting {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed #ffeeb7;
  color: #3d3d3d;
  height: 93px;
  margin-bottom: 11px;
  padding-left: 20px;
  font-family: Lexend;
  justify-content: center;
}

.greeting > h1 {
  font-size: 22px;
  font-weight: 400;
  margin-block: 10px 0px;
}

.greeting > p {
  color: #707070;
  font-size: 13px;
  font-weight: 200;
  margin-top: 4px;
}

.side-navbar > p {
  width: 100%;
  height: 45px;
  line-height: 45px;

  color: initial;
  text-decoration: none;
  font-family: Lexend;
  user-select: none;
}

.side-navbar > p {
  position: relative;
  line-height: 35px;
  padding: 10px;
  padding-left: 65px;
  margin-right: -30px !important;
  text-decoration: none;
  cursor: pointer;
  transition: filter 0.2s;
  border-block: 1px solid transparent;
  border-left: 5px solid transparent;
  border-top: 1px solid #f7f7f7;
  font-weight: 300;

  width: 87%;
  height: 45px;
  line-height: 45px;

  color: initial;
  text-decoration: none;
  font-family: Lexend;

  margin-block: 0;
  user-select: none;
}

.side-navbar > p::before {
  content: "";
  background-image: var(--nav-item-icon);
  background-size: auto 32px;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  position: absolute;
  left: 1px;
  top: 0;
  height: 100%;
  aspect-ratio: 1;

  filter: brightness(0) saturate(0) invert(87%) sepia(23%) saturate(2641%)
    hue-rotate(332deg) brightness(0) contrast(0);
  transition: 0.2s;
}

.side-navbar > p:nth-child(3):before {
  background-size: auto 34px;
}

.side-navbar > p:nth-child(2):before {
  background-size: auto 30px;
}

.side-navbar > p {
  color: #5a5a5a;
  transition: 0.2s;
  font-size: 19px;
}

.side-navbar > p:hover::before {
  filter: brightness(0) saturate(100%) invert(87%) sepia(23%) saturate(2641%)
    hue-rotate(332deg) brightness(100%) contrast(102%);
}

.side-navbar > p:hover {
  background-color: #fffdfa;
  padding-left: 65px;
  color: #ffb82e;
  border-block: 1px solid #ffe6b5;
  border-left: 5px solid #ffe6b5;
}

.navbar-item-active::before {
  padding-left: 20px !important;
  filter: brightness(0) saturate(100%) invert(87%) sepia(23%) saturate(2641%)
    hue-rotate(332deg) brightness(100%) contrast(102%) !important;
}

.navbar-item-active {
  background-color: #fffdfa !important;
  padding-left: 65px !important;
  width: 92% !important;
  padding-left: 90px !important;
  color: #ffb82e !important;
  border-block: 1px solid #ffe6b5 !important;
  border-left: 5px solid #ffe6b5 !important;
}

.version-data {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: auto;
  margin-bottom: 20px;
}

.version-data > p {
  font-size: 13px;
  font-weight: 200;
  font-family: Lexend;
  color: #c2c2c2;
  margin: 0;
}

.content-section {
  width: 1150px;
  max-width: 70%;
  height: -webkit-fill-available;

  margin-inline: auto;
  padding-bottom: 120px;
  overflow-y: scroll;

  font-family: Lexend;
  color: #3d3d3d;
}

.content-section::-webkit-scrollbar {
  display: none;
}

.info {
  margin-top: 60px;
}

.info > h1 {
  font-size: 44px;
  font-weight: 500;
  margin-block: 0;
}

.search {
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 10px;
}

.error-disclaimer {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-disclaimer::before {
  content: "";
  position: absolute;
  left: -15px;
  top: -4px;
  height: 30px;
  width: 5px;
  background-color: #ffb82e;
}

.table > table > thead > tr > th {
  text-align: start;
  font-weight: 500;
  padding-inline: 5px;
  background-color: #f5f5f5;
  color: #777777;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.table > table > thead > tr > th:hover {
  user-select: none;
}

.table > table > thead > tr > th:last-child {
  border-right: none;
}

.table > table > tbody > tr > td {
  box-sizing: content-box;
  padding-block: 5px;
  border-inline: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;

  padding-inline: 7px;
}

.table > table > tbody > tr > td:first-child {
  text-align: center;
}

.table > table > tbody > tr > td:last-child {
  width: 171px;
}

.table > table > tbody > tr > td {
  position: relative;
  cursor: pointer;
  outline: none;
}

.table > table > tbody > tr > td:focus-within {
  background-color: #fffdf9;;
}

.table button {
  min-height: 20px;
  height: 35px;
  border-radius: 5px;
  padding-inline: 15px;
  margin: 5px;
}

.table {
  margin-top: 35px;
}

.table > table {
  width: 100%;
  border-collapse: collapse;
}

.searchbar {
  display: flex;
  margin-bottom: 8px;
}

.searchbar > div {
  display: flex;
  align-items: center;
}

.searchbar > div > input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  margin: 5px;
  border-radius: 5px;
  padding-inline: 7px !important;
  font-family: Lexend;
  margin: 5px;
  border: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 300;
  color: #3d3d3d;
  padding: 0px;
}

.searchbar > div > input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #3d3d3d;
}

.searchbar > div > p {
  white-space: nowrap;
  margin: 0;

  font-weight: 300;
  font-size: 17px;
}

.searchbar > div:first-child {
  margin-right: auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination > p {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  margin-inline: 10px;
}

.pagination > p > div {
  display: inline-block;
  position: relative;
  font-weight: 500;
  margin-inline: 3px;
}

.pagination > p > div::before {
  content: "";
  display: inline-block;
  width: calc(100% + 6px);
  height: 1px;
  border-radius: 50%;
  background-color: #ffb82e;
  margin-inline: 5px;
  bottom: -2px;
  left: -8px;
  position: absolute;
}

.pagination > div {
  display: flex;
  align-items: center;
}

.pagination > div > p {
  white-space: nowrap;
  margin: 0;

  font-weight: 300;
  font-size: 17px;

  min-width: 110px;
  width: fit-content;
  padding-inline: 15px;
  text-align: center;
}

.pagination > div > input {
  padding-left: 8px;
  font-family: Lexend;
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  margin: 5px;
  border-radius: 5px;
  padding-inline: 7px !important;
  margin: 5px;
  border: 1px solid #dfdfdf;
  font-size: 16px;
  font-weight: 300;
  color: #3d3d3d;
  padding: 0px;
}

.pagination > div > input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #3d3d3d;
}