div > .carouselContainer {
  position: relative;
  left: 0px;
  width: 100%;
  margin-inline: auto;
}

.carouselContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 1600px !important;
  height: 580px;
  left: initial !important;
  margin-inline: auto;
  user-select: none;
  justify-content: space-between;
}

.carousel {
  width: 1448px;
  height: 100%;
  overflow-x: clip;
  transition: none;
}

.carouselInner {
  display: flex;
  align-items: center;
  overflow-x: clip;
}

.carouselInner > div {
  margin-inline: 25px;
}

.carouselArrow {
  position: sticky;
  display: flex;
  flex: 0 0 auto;
  width: 35px;
  cursor: pointer;
  transition: 0.2s;
}

.carouselArrow:hover {
  transform: scale(1.1);
}

.carouselArrow:hover {
  transform: scale(1.1);
}

.carouselArrow > img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  filter: brightness(100);
}

.carouselArrow.left:active {
  transform: translateX(-5px);
}

.carouselArrow.right:active {
  transform: translateX(5px);
}

.carouselDotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselDots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 2px;
  cursor: pointer;
}

.carouselDots > div {
  width: 9px;
  height: 9px;
  background-color: #e6e6e6;
  border-radius: 10px;

  user-select: none;
  pointer-events: none;

  transition: 0.1s;
}

.carouselDots[active="true"] > div {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
}

