.navbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  font-size: 21px;
  font-family: "DM Sans", sans-serif;
  color: #ffb82e;
  background-color: #ffffff;
  gap: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 63px;
  line-height: 63px;
  transform-style: preserve-3d;

}

.dorsly-logo {
  display: flex;
  align-items: center;
}

.gps-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;

  height: 100%;
  aspect-ratio: 1/1;
  transform: scale(1);

  cursor: pointer;
  transition: 0.2s;
}

.profile-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 20px;
  padding-left: 15px;
  width: auto;
  min-width: 200px;
  height: 100%;
  transform: scale(1);
  cursor: pointer;
  transition: 0.2s;
}

.profile-logo-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 10px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
}

.profile-logo-button > img {
  padding-right: 3px;
}

.profile-logo-button:hover > img {
  transform: scale(1.05);
}

.search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;

  height: 100%;
  aspect-ratio: 1/1;
  transform: scale(1);

  cursor: pointer;
  transition: 0.2s;
}

.dorsly-logo > img {
  filter: brightness(0) invert(77%) sepia(56%) saturate(926%) hue-rotate(333deg)
    brightness(103%) contrast(101%);
  height: 35px;
}

.search-logo:hover > img {
  transform: scale(1.1);
}

.gps-logo:hover > img {
  transform: scale(1.1);
}

.wraper > * > a:link {
  color: #ffb92d;
}

.wraper > * > a:visited {
  color: #ffb82e;
}

.wraper > * > a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
}

.left-side > a > div {
  padding-inline: 25px;
  height: 100%;
}

.right-side > a > div {
  height: 100%;
  padding-inline: 25px;
}

.left-side {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.right-side {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.navbar > wraper > div > div {
  padding: 30px;
  display: flex;
}

.wraper {
  display: flex;
  width: 100vw;
  max-width: 1920px;
  justify-content: space-between;
}

.navbar > .wraper > * > a:not(.logo) {
  box-shadow: inset 0px 0px 0px 0px #ffb82e;
  cursor: pointer;
  transition: 0.2s;
}

.navbar > .wraper > * > a:not(.logo):hover {
  background-color: #fafafa;
  box-shadow: inset 0px -3px 0px 0px #ffb82e;
}

.logo > div {
  transition: 0.2s;
}

.logo:hover > div {
  transform: scale(1.05);
}

.profile-dropdown {
  position: absolute;
  top: 63px;
  right: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 10px 15px -5px rgb(0 0 0 / 20%);
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  transform: translateY(-40px) translateZ(-10px);
  filter: opacity(0);
  transition: 0.2s;
}

.profile-dropdown > * {
  position: relative;
  line-height: 35px;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 58px;
  text-decoration: none;
  cursor: pointer;
  transition: filter 0.2s;
  border-block: 1px solid transparent;
  border-left: 5px solid transparent;
  border-top: 1px solid #f7f7f7;
}

.profile-dropdown > *::before {
  content: "";
  background-image: var(--background-image);
  background-size: auto 32px;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  position: absolute;
  left: 1px;
  top: 0;
  height: 100%;
  aspect-ratio: 1;

  filter: brightness(0) saturate(0) invert(0) sepia(0) saturate(0)
    hue-rotate(332deg) brightness(0) contrast(0);
  transition: 0.2s;
}

.profile-dropdown > *:hover::before {
  filter: brightness(0) saturate(100%) invert(87%) sepia(23%) saturate(2641%)
    hue-rotate(332deg) brightness(100%) contrast(102%);
}
.profile-dropdown > *:any-link {
  color: #5a5a5a;
  transition: 0.2s;
}

.profile-dropdown > *:hover:any-link {
  background-color: #fffdfa;
  padding-left: 65px;
  color: #ffb82e;
  border-block: 1px solid #ffe6b5;
  border-left: 5px solid #ffe6b5;
}

.profile-dropdown-active {
  user-select: initial;
  pointer-events: inherit;
  transform: translateY(0) translateZ(-10px);
  filter: opacity(1);
  transition: 0.2s;
}
