.carouselContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 1600px !important;
  height: 580px;
  left: initial !important;
  margin-top: 542px;
  margin-inline: auto;
  user-select: none;
  justify-content: space-between;
}
