.header-content {
  position: relative;
  background-image: url("/assets/svg/homebackground.svg");
  background-size: 100% auto;
  width: min(1920px, 100vw);
  aspect-ratio: 1920/2310;
  background-position-x: 0px;
  margin-inline: auto;
  background-repeat: no-repeat;

  font-family: "Lexend";
}

*::selection {
  background-color: var(--accent);
  color: var(--white);
}

.link {
  height: 3em;
  min-height: 3em;
  padding-inline: 30px;
  background-color: var(--accent);

  color: var(--white);
  font-family: "Lexend";
  font-size: 18px;

  line-height: 53px;

  border: none;
  border-radius: 100vw;
  text-decoration: none;
  cursor: pointer;

  transition: 0.2s;
}

.link:hover {
  background-color: var(--accent-light);
}

.link::selection{
  background-color: transparent;
  color: inherit;
}

.link {
  height: 3em;
  min-height: 3em;
  padding-inline: 30px;
  background-color: var(--accent);

  color: var(--white);
  font-family: "Lexend";
  font-size: 18px;

  line-height: 53px;

  border: none;
  border-radius: 100vw;
  text-decoration: none;
  cursor: pointer;

  transition: 0.2s;
}

.link:hover {
  background-color: var(--accent-light);
}

.link::selection{
  background-color: transparent;
  color: inherit;
}

.inverted {
  background-color: transparent;
  color: var(--accent);
  border: 3px solid var(--accent);
}

.inverted:hover {
  background-color: transparent;
  color: var(--accent-light);
  border: 3px solid var(--accent-light);
}

.phoneIllustration {
  position: absolute;
  right: min(-4px, 2vw);
  top: min(1px, -2vw);
  width: min(1000px, 46vw);
  user-select: none;
  pointer-events: none;
}

.header-content > div {
  position: relative;
  top: 13rem;
  left: min(5vw, 5rem);

  width: fit-content;
}

.header-content > div:nth-child(3) {
  width: 100%;
  left: 0px;
}

.header-content > div > h1 {
  font-size: 61px;
  font-weight: 400;
  line-height: 70px;

  user-select: none;

  color: var(--accent);

  margin: 0px;
}

.header-content > div > p {
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;

  margin-top: 40px;

  color: var(--medium-dark-grey);
}

.search-field {
  display: flex;

  background-color: var(--white);
  width: 890px;
  height: 60px;
  border-radius: 100vw;
  box-shadow: 0px 4px 10px 0 #ebebeb;
  padding-inline-end: 3px;

  color: #4a4a4a;
  font-weight: 300;
  font-size: 17px;
  user-select: none;
}

.search-field > div {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.search-field > div:hover {
  background-color: #fdfdfd;
}

.search-field > input:hover {
  background-color: #fdfdfd !important;
}

.search-field > div > img:nth-child(1) {
  height: 25px;
  padding-inline: 10px;
  pointer-events: none;
}

.search-field > div > img:nth-child(3) {
  height: 9px;
  padding-inline: 10px;
  pointer-events: none;
}

.search-field > div > p {
  flex: 1 0 auto;
}

.search-field > input {
  flex-direction: row-reverse;
  font-family: "Lexend";
  color: #4a4a4a;
  width: 190px;
  font-weight: 300;
  font-size: 17px;
  user-select: none;
  outline: none;
  border: none;
  border-right: 2px solid #ebebeb;
  background: none;
  padding-left: 15px;
  gap: 8px;
  cursor: pointer;
}

.search-field > input:-webkit-autofill,
.search-field > input:-webkit-autofill:hover,
.search-field > input:-webkit-autofill:focus,
.search-field > input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.search-field > input:-webkit-autofill{
  -webkit-text-fill-color: inherit !important;
}

.date {
  border-radius: 200px 0 0 200px;
}

.date::-webkit-calendar-picker-indicator {
  background-image: var(--calendarSvg);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-year-field,
input::-webkit-datetime-edit-hour-field,
input::-webkit-datetime-edit-minute-field,
input::-webkit-datetime-edit-ampm-field {
  display: inline-block;
  margin-top: 2px;
  border-bottom: 2px solid #fff;
  transition: 0.2s;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-ampm-field:focus {
  transform: translateY(-2px);
  border-bottom: 2px solid var(--accent);
  color: initial;
  background-color: initial;
}

.time {
  padding: 5px !important;
  width: 160px !important;
  border-right: 2px solid #ebebeb;
  cursor: pointer;
}

.time::-webkit-calendar-picker-indicator {
  background-image: var(--clockSvg);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.person-box {
  width: 170px;
  border-right: 2px solid #ebebeb;
  background-image: var(--personSvg) !important;
  background-repeat: no-repeat !important;
  background-position: 15px 50% !important;
  background-size: 20px !important;
  padding-inline-start: 50px !important;
}

.person-box::after {
  width: 170px;
  height: 100%;
  border-right: 2px solid #ebebeb;
}

.person-box > input {
  width: 12px;
  border: none;
  outline: none;
  font-family: "Lexend";
  background-color: transparent;
  font-size: 17px;
  font-weight: 300;
  color: #4a4a4a;
  cursor: pointer;
  margin-right: 2px;
  margin-top: 2px;
  border-bottom: 2px solid #fff;
  transition: 0.2s;
}

.person-box > input::selection{
  background-color: transparent;
  color: inherit;
}

.person-box > input:focus {
  transform: translateY(-2px);
  border-bottom: 2px solid var(--accent);
  color: initial;
  background-color: initial;
}

.search {
  display: flex;
  border-radius: 0 200px 200px 0;
  width: auto;
  flex: 1 0 auto;

  background-image: var(--mainSearchIcon) !important;
  background-repeat: no-repeat !important;
  background-position: 15px 50% !important;
  background-size: 24px !important;
}

.search > img:nth-child(1) {
  height: 22px;
}

.search > button {
  width: 145px;
}

.search-input {
  flex-direction: row-reverse;
  font-family: "Lexend";
  flex: 1 0 auto;
  color: #4a4a4a;
  width: 190px;
  font-weight: 300;
  font-size: 17px;
  user-select: none;
  outline: none;
  border: none;
  background: none;
  margin-left: 50px;
  margin-right: 15px;
  cursor: pointer;

  display: inline-block;
  margin-top: 2px;
  border-bottom: 2px solid #fff;
  transition: 0.2s;
}

.search-input:focus {
  transform: translateY(-2px);
  margin-top: 2px;
  border-bottom: 2px solid var(--accent);
  color: initial;
  background-color: initial;
}

.search-input::placeholder {
  color: #ccc;
  font-weight: 200;
}

.seperator {
  font-size: 18px !important;
  margin: 25px 0px 10px !important;
}

.actions {
  display: flex;
  gap: 20px;
}

.actions > button.inverted {
  background-color: inherit;
  border: 3px solid var(--accent);
  color: var(--accent);
  font-weight: 300;
}

.description {
  display: flex;
  margin-top: 200px;
  left: initial !important;
  margin-inline: auto;
  padding-left: 100px;
  width: 1600px !important;
}

.description > div {
  flex: 1 0 auto;
}

.description > div > img {
  height: 200px;
}

.description > div > h2 {
  color: #4a4a4a;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 31px;
}

.description > div > p {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
  color: #777777;
}
