.header-content {
  position: relative;
  background-image: url("/assets/svg/homebackground.svg");
  background-size: 100% auto;
  width: min(1920px, 100vw);
  aspect-ratio: 1920/2310;
  background-position-x: 0px;
  margin-inline: auto;
  background-repeat: no-repeat;

  font-family: "Lexend";
}

.phoneIllustration {
  position: absolute;
  right: min(-4px, 2vw);
  top: min(1px, -2vw);
  width: min(1000px, 46vw);
  user-select: none;
  pointer-events: none;
}

.header-content > div {
  position: relative;
  top: 9rem;
  left: min(5vw, 5rem);

  width: fit-content;
}

.header-content > div > h1 {
  font-size: 61px;
  font-weight: 400;
  line-height: 70px;

  color: var(--accent);

  margin: 0px;
}

.header-content > div > p {
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;

  margin-top: 40px;

  color: var(--medium-dark-grey);
}

.search-field {
  display: flex;

  background-color: var(--white);
  width: 890px;
  height: 60px;
  border-radius: 100vw;
  box-shadow: 0px 4px 10px 0 #ebebeb;
  padding-inline-end: 3px;

  color: #4a4a4a;
  font-weight: 300;
  font-size: 17px;
  user-select: none;
}

.search-field > div {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.search-field > div:hover {
  background-color: #fdfdfd;
}

.search-field > div > img:nth-child(1) {
  height: 25px;
  padding-inline: 10px;
  pointer-events: none;
}

.search-field > div > img:nth-child(3) {
  height: 9px;
  padding-inline: 10px;
  pointer-events: none;
}

.search-field > div > p {
  flex: 1 0 auto;
}

.date {
  flex-direction: row-reverse;
  font-family: "Lexend";
  color: #4a4a4a;
  width: 190px;
  font-weight: 300;
  font-size: 17px;
  user-select: none;
  outline: none;
  border: none;
  border-right: 2px solid #ebebeb;
  background: none;
  padding-left: 15px;
  gap: 8px;
  cursor: pointer;
}

.date::-webkit-calendar-picker-indicator {
  background-image: var(--calendarSvg);
  width: 25px;
  height: 25px;
}

input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-year-field {
  display: inline-block;
  margin-top: 2px;
  border-bottom: 2px solid #fff;
  transition: 0.2s;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  display: inline-block;
  transform: translateY(-2px);
  border-bottom: 2px solid var(--accent);
  color: initial;
  background-color: initial;
}

.time {
  width: 150px;
  border-right: 2px solid #ebebeb;
}

.time > img:nth-child(1) {
  height: 24px;
}

.person-count {
  width: 170px;
  border-right: 2px solid #ebebeb;
}

.search {
  width: auto;
  flex: 1 0 auto;
}

.search > img:nth-child(1) {
  height: 22px;
}

.search > button {
  width: 145px;
}

.seperator {
  font-size: 18px !important;
  margin: 25px 0px 10px !important;
}

.actions {
  display: flex;
  gap: 20px;
}

.actions > button.inverted {
  background-color: inherit;
  border: 3px solid var(--accent);
  color: var(--accent);
  font-weight: 300;
}

.carousel {
  width: 1600px !important;
  height: 600px;
  left: initial !important;
  margin-inline: auto;
  margin-top: 385px;
  background-color: transparent;
}

.description {
  display: flex;
  margin-top: 200px;
  left: initial !important;
  margin-inline: auto;
  padding-left: 100px;
  width: 1600px !important;
}

.description > div {
  flex: 1 0 auto;
}

.description > div > img {
  height: 200px;
}

.description > div > h2 {
  color: #4a4a4a;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 31px;
}

.description > div > p {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
  color: #777777;
}
