.content {
  background-image: url('/assets/svg/HomeBackground.svg');
  background-size: 100% auto;
  width: min(1920px,100vw);
  aspect-ratio: 1920/1850;
  background-position-x: 0px;
  margin-inline: auto;
  background-repeat: no-repeat;
}