.header-content {
  position: relative;
  background-image: url('/assets/svg/HomeBackground.svg');
  background-size: 100% auto;
  width: min(1920px,100vw);
  aspect-ratio: 1920/1850;
  background-position-x: 0px;
  margin-inline: auto;
  background-repeat: no-repeat;

  font-family: "Lexend";
}

.phoneIllustration {
  position: absolute;
  right: min(-4px, 2vw);
  top: min(1px, -2vw);
  width: min(1000px, 46vw);
  user-select: none;
  pointer-events: none;
}

.header-content > div {
  position: absolute;
  top: 10em;
  left: min(5vw, 5rem);

  width: fit-content;
}


.header-content > div > h1 {
  font-size: 61px;
  font-weight: 400;
  line-height: 70px;

  color: var(--accent);

  margin: 0px;
}

.header-content > div > p {
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;

  margin-top: 40px;

  color: var(--medium-dark-grey);
}

.search-field {
  display: flex;

  background-color: var(--white);
  width: 890px;
  height: 60px;
  border-radius: 100vw;
  box-shadow: 0px 4px 10px 0 #ebebeb;
  padding-inline-end: 3px;

  color: #4A4A4A;
  font-weight: 300;
  font-size: 17px;
  user-select: none;
}

.search-field > div {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.search-field > div:hover {
  background-color: #fdfdfd;
}

.search-field > div > img:nth-child(1) {
  height: 25px;
  padding-inline: 10px;
  pointer-events: none;
}

.search-field > div > img:nth-child(3) {
  height: 9px;
  padding-inline: 10px;
  pointer-events: none;
}

.search-field > div > p{
  flex: 1 0 auto;
}


.search-field > .date{
  padding-left: 15px;
  width: 200px;
  border-radius: 100vw 0 0 100vw;
  border-right: 2px solid #EBEBEB;
}

.search-field > .date > img:nth-child(1){
  height: 23px;
  margin-bottom: 2px;
}

.search-field > .time{
  width: 150px;
  border-right: 2px solid #EBEBEB;
}

.search-field > .time > img:nth-child(1){
  height: 24px;
}

.search-field > .person-count{
  width: 170px;
  border-right: 2px solid #EBEBEB;
}

.search-field > .search{
  width: auto;
  flex: 1 0 auto;
}

.search-field > .search > img:nth-child(1){
  height: 22px;
}

.search-field > .search > button{
  width: 145px;
}

.seperator {
  font-size: 18px !important;
  margin: 25px 0px 10px !important;
}

.actions{
  display: flex;
  gap: 20px;
}

.actions > button.inverted {
  background-color: inherit;
  border: 3px solid var(--accent);
  color: var(--accent);
  font-weight: 300;
}