.labeled-text-input-box {
  --label-color: #ffb82e;

  position: relative;
  width: 75%;
  min-height: 39px;
  margin-bottom: 25px;
}

.labeled-text-input-box[input-name]::before {
  content: attr(input-name);
  color: var(--label-color);
  position: absolute;
  font-family: "Lexend";
  pointer-events: none;

  font-size: 16px;
  top: -16px;
  left: 0px;

  font-weight: 300;
  z-index: 1;
  transition: 0.2s;
}

.labeled-text-input-box > input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 2px solid #ffdd98;
  outline: none;
  padding-inline: 6px;
  font-size: 18px;
  transition: 0.2s;
}

.labeled-text-input-box:has(input:placeholder-shown)::before {
  font-size: 20px;
  top: 8px;
  left: 5px;
}

.labeled-text-input-box:has(:focus-within)::before {
  font-size: 16px !important;
  top: -16px !important;
  left: 0px !important;
}

.labeled-text-input-box:has(input:-webkit-autofill)::before {
  font-size: 16px !important;
  top: -16px !important;
  left: 0px !important;
}

.labeled-text-input-box:has(:focus-within) > input {
  border-bottom: 2px solid var(--accent);
}

.labeled-text-input-box > input:-webkit-autofill,
.labeled-text-input-box > input:-webkit-autofill:hover,
.labeled-text-input-box > input:-webkit-autofill:focus,
.labeled-text-input-box > input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: inherit !important;
}

input::placeholder{
  color: transparent;
  transition: 0.2s;
}

.labeled-text-input-box:has(:focus-within) > input::placeholder{
  color: #ccc;
}


:-internal-autofill-previewed {
  font-size: 20px !important;
}


