.location-picker-container {
  position: absolute;
  top: 73px;
  right: 0px;
  width: 500px;
  height: 700px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #0000000f;
}

.picking-options {
  display: flex;
}

.picking-options > div {
  padding: 10px 20px;
  width: 50%;
  font-size: 20px;
  text-align: center;
  line-height: initial;
  user-select: none;
  box-shadow: inset 0px 0px 0px 0px #ffb82e;
  cursor: pointer;
  transition: 0.2s;
}

.picking-options > div:hover {
  box-shadow: inset 0px -2px 0px 0px var(--accent-light);
}

.picking-options > div.active {
  box-shadow: inset 0px -3px 0px 0px var(--accent) !important;
}

.map-container {
  position: relative;
}

.map-container > div > div {
  background-color: #e8eaed !important;
}

.gps-icon {
  position: absolute;
  height: 40px;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 20px));
  filter: drop-shadow(0px 4px 4px #00000069);
  pointer-events: none;
  user-select: none;
}

.location-info-container {
  padding: 12px 22px;
}

.location-info-label {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: -11px;
}
