.container {
  position: relative;
  width: min(1920px, 100vw);
  aspect-ratio: 1920/2310;
  margin-inline: auto;
  background-repeat: no-repeat;
  font-family: "Lexend";
}

.top-section {
  background-image: var(--background-image);
  background-position-y: center;
  padding-top: 372px;
  padding-left: 70px;
  height: 351px;
  background-repeat: no-repeat;
  font-family: "Lexend";
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-section > .content > .rating { 
  display: flex;
  align-items: center;
  color: white;
  font-size: 29px;
}

.top-section > .content > .rating > img {
  filter: brightness(5);
  width: 60px;
}

.top-section > .content > .rating > p {
  width: 35px;
  margin: 0;
  margin-bottom: 3px;
}

.rating > .place-rating {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
  opacity: 0;
  transition: 0.1s;
}

.rating:hover > .place-rating {
  opacity: 1;
}

.place-rating > .left, .place-rating > .right {
  cursor: pointer;
  transition: 0.1s;
  stroke: none;
}

.place-rating > .left {
  background-image: var(--rating-left-icon-hollow);
  background-size: 23px 39px;
  width: 22px;
  height: 39px;
}

.place-rating > .right {
  background-image: var(--rating-right-icon-hollow);
  background-size: 23px 39px;
  background-position: -1px;
  width: 22px;
  height: 39px;
}

.place-rating > .left:hover ~ .left {
  background-image: var(--rating-left-icon-filled);
}

.place-rating > .right:hover ~ .right{
  background-image: var(--rating-right-icon-filled);
}

.top-section > h1 {
  width: 900px;
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: -4px;
  margin-bottom: 20px;
  font-family: "Lexend";
}

.top-section > p {
  width: 900px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lexend";

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.place-lower-bg {
  background-image: var(--background-image);
  height: 345px;
  margin-top: -20px;
  background-position-y: center;
  background-repeat: no-repeat;
  font-family: "Lexend";
  z-index: 5;
  position: relative;
}
