body {
  background-image: url("/assets/svg/backgroundlines.svg");
  background-size: cover;
  height: 100vh;
  min-height: 20px;
}

.auth-container {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.content-field {
  /* display */
  display: flex;

  /* size */
  /* width: 70%; */
  height: 80%;
  max-width: 1000px;
  max-height: min(670px, 80%);
  aspect-ratio: 1000/670;

  /* misc */
  border-radius: min(20px, 1vw);
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.04);
}

.illustration {
  position: relative;
  background-image: url("/assets/svg/Illustrationbg.svg");
  width: 50%;
  background-size: cover;
  user-select: none;
}

.illustration > img {
  height: 425px;
  max-height: 65%;
  position: absolute;
  bottom: 0;
  right: -6%;
  user-select: none;
}

.illustration > .logo {
  height: 8%;
  position: absolute;
  top: 6%;
  left: 8%;
}
