.main_text {
  padding-left: 240px;
}

.container {
  color: #292929;
  font-family: Lexend;
  padding-top: 63px;
  width: min(1000px, 90vw);
  margin-inline: auto;
  margin-top: 80px;
  display: flex;
  gap: 10px;
}

.button_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  top: 140px;
}

.button_container > a {
  height: auto;
  color: gray;
  background-color: transparent;
  padding-inline: 0;
  width: 200px;
  text-align: left;
  text-decoration: none;
}

.button_container > a:hover {
  color: #292929;
  background-color: transparent;
  transition: 0.5s;
}
