.carouselArrow {
  position: sticky;
  display: flex;
  flex: 0 0 auto;
  filter: contrast(0) brightness(0) invert(69%) sepia(59%) saturate(623%)
    hue-rotate(343deg) brightness(106%) contrast(101%);
  width: 35px;
  cursor: pointer;
  transition: 0.2s;
}

.carouselArrow:hover {
  transform: scale(1.1);
}

.carouselArrow:hover {
  transform: scale(1.1);
}

.carouselArrow > img {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  filter: brightness(100);
}

.carouselArrow.left:active {
  transform: translateX(-5px);
}

.carouselArrow.right:active {
  transform: translateX(5px);
}

.carouselDotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselDots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 2px;
  cursor: pointer;
}

.carouselDots > div {
  width: 9px;
  height: 9px;
  background-color: #ffe5b4;
  border-radius: 10px;

  user-select: none;
  pointer-events: none;

  transition: 0.1s;
}

.carouselDots[active="true"] > div {
  background-color: #ffb82e;
  width: 12px;
  height: 12px;
}

.carousel-placeholder {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 1600px !important;
  height: 613px;
  left: initial !important;
  margin-inline: auto;
  user-select: none;
  justify-content: space-between;
}
