.content {
  width: 1650px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-inline: auto;
  margin-bottom: 60px;
}

.section {
  margin-top: 150px;
}

.section::before {
  content: var(--background-img);
  position: absolute;
  top: -74px;
  left: 0;
}

.section {
  position: relative;
  z-index: 2;
}

.section-title {
  color: #ffb82e;
  font-family: Lexend;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-inline: 100px;
  position: relative;
  z-index: 1;
}

.section > img {
  width: 120%;
  margin-left: -10%;
  margin-top: 60px;
}

.card-data-list {
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(1398px);
  margin-inline: auto;
}

.card-data-list > h1 {
  width: 100%;
  color: #3b3b3b;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Lexend;
  margin-bottom: 10rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

